body
{
    background-image: url(img/background1.png);
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 24px;
}

#container
{
    margin: 0 auto;
    width: 1200px;
}

#title
{
    margin: 20px 20px 5px 20px;
    padding: 10px;
}

#title h1
{
    text-align: center;
    font-size: 56px;
    font-family: 'Cinzel', serif;
    text-shadow: 9px -5px 5px rgba(150, 150, 150, 0.8);
    font-weight: 400;
}

#title h1::selection
{
    text-align: center;
    font-size: 48px;
    font-family: 'Cinzel', serif;
    text-shadow: 9px -5px 5px rgba(150, 150, 150, 0.8);
    background-color: none;
}

#title h1:hover
{
    cursor: default;
}

.login
{
    width: 220px;
    height: 150px;
    position: absolute;
    top: 35px;
    right: 45px;
    text-align: center;
}

button
{
    width: 150px;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 5px;
    outline: none;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

button:hover
{
    transform: scale(0.8);
}

#screen
{
    display: none;
    width: 220px;
    min-height: 120px;
    background-color: fade(#FFFFFF, 50%);
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    padding: 5px;
    
}

input[type=text],
input[type=password],
input[type=date]
{
    border-radius: 30px;
    border: none;
    height: 25px;
    width: 164px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #000000;
    background-color:#FFFFFF;
}

input[type=submit]
{
    border-radius: 30px;
    border: none;
    height: 25px;
    padding-left: 5px;
    outline: none;
    border: 1px solid #000000;
    background-color:#FFFFFF;
    font-weight: 700;
}

.register
{
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.column
{
    width: 690px;
    height: 50px;
    margin: 20px 0;
}

label
{
    font-size: 20px;
    text-shadow: none;
    font-weight: 700;
}

.article
{
    width: 690px;
    min-height: 400px;
    float: left;
    background-color: fade(#FFFFFF, 50%);
    margin: 5px 0 5px 0;
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    transition: text-shadow 0.5s ease-in-out;
    text-shadow: 9px -5px 5px rgba(150, 150, 150, 0.8);
    text-align: center;
}

.article:hover
{
    text-shadow: none;
}

.article p
{
    text-align: justify;
    padding: 50px;
    font-size: 18px;
    line-height: 1.5;
    
}

.article h2
{
    font-size: 28px;
    text-align: center;
    font-family: 'Cinzel', serif;
}


.photo
{
    float: left;
    width: 290px;
    min-height: 400px;
    margin: 5px 0 5px 0;
}

.check
{
    min-height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background-color: fade(#FFFFFF, 50%);
    margin: 20px 0 0 0;
    padding-top: 20px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    border-radius: 30px;
}

.rights
{
    min-height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background-color: fade(#FFFFFF, 50%);
    margin: 0 0 0 0;
    padding-top: 20px;
}

.social
{
    width: auto;
    display: flex;
    align-items: center;
}

.fb
{
    width: 200px;
    height: 200px;
    background-color: fade(#FFFFFF, 50%);
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    margin: 0 50px 0 50px;
    border-radius: 0 0 30px 30px;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
}

.fb:hover
{
    transform: scale(0.8);
}

.ig
{
    width: 200px;
    height: 200px;
    float: left;
    background-color: fade(#FFFFFF, 50%);
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    margin: 0 50px 0 50px;
    border-radius: 0 0 30px 30px;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.ig:hover
{
    transform: scale(0.8);
}

.li
{
    width: 200px;
    height: 200px;
    float: left;
    background-color: fade(#FFFFFF, 50%);
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    margin: 0 50px 0 50px;
    border-radius: 0 0 30px 30px;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
}

.li:hover
{
    transform: scale(0.8);
}

.tw
{
    width: 200px;
    height: 200px;
    float: left;
    background-color: fade(#FFFFFF, 50%);
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    margin: 0 50px 0 50px;
    border-radius: 0 0 30px 30px;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tw:hover
{
    transform: scale(0.8);
}

.tilelink
{
    text-decoration: none;
    color: #000000;
    font-size: 72px;
    text-align: center;
}









